<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <section class="section">
        <div class="container">

            <div class="dropdown" id="browse-dropdown">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Sort by</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="/browse/sort?sort=release_date ASC,card_number ASC" class="dropdown-item">Card
                            Number</a>
                        <a href="/browse/sort?sort=card_name" class="dropdown-item">Card Name (A-Z)</a>
                        <a href="/browse/sort?sort=card_name DESC" class="dropdown-item">Card Name (Z-A)</a>
                    </div>
                </div>
            </div>

            <div class="columns mt-5 is-multiline is-variable is-centered">
                <% rowdata.forEach((card, index)=> { %>
                    <div class="column is-6-tablet is-3-desktop">
                        <div class="card mb-3">
                            <div class="card-image has-text-centered px-5 py-2">
                                <a href="/card?card_id=<%=card.card_id%>">
                                    <img src="<%= card.image_url %>">
                                </a>
                            </div>
                            <div class="card-content pt-0 pb-2">
                                <div class="columns is-vcentered">
                                    <div class="column is-three-quarters">
                                        <p class="has-text-grey is-size-7">
                                            <span class="title is-size-7 has-text-grey">
                                                <%= card.expansion_name %>
                                            </span>
                                            <%= card.card_number %>/<%= card.total_cards %>
                                        </p>
                                    </div>
                                    <div class="column">
                                        <p class="has-text-right">
                                            <a class="has-text-grey" href="">
                                                <span class="icon-text">
                                                    <span class="icon">
                                                        <i class="far fa-heart"></i>
                                                    </span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-wrapper">
                            <div class="dropdown" id="collection-dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button has-text-grey" aria-haspopup="true"
                                        aria-controls="dropdown-menu">
                                        <span class="icon">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                        <span>Add to collection</span>
                                        <span class="icon">
                                            <i class="fas fa-angle-down"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a href="/browse/sort?sort=release_date ASC,card_number ASC"
                                            class="dropdown-item">Card
                                            Number</a>
                                        <a href="/browse/sort?sort=card_name" class="dropdown-item">Card Name
                                            (A-Z)</a>
                                        <a href="/browse/sort?sort=card_name DESC" class="dropdown-item">Card
                                            Name
                                            (Z-A)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </section>

    <script>

        //ensures that the JS executes only after the DOM content has been fully loaded and parsed
        document.addEventListener('DOMContentLoaded', function () {

            //selects all elements with the class dropdown and store them in a NodeList called dropdowns
            const dropdowns = document.querySelectorAll('.dropdown');

            //iterate over each dropdown element in the dropdowns NodeList
            dropdowns.forEach(function (dropdown) {

                //selects the dropdown trigger button within the current dropdown element
                const trigger = dropdown.querySelector('.dropdown-trigger');

                //selects the dropdown menu within the current dropdown element
                const menu = dropdown.querySelector('.dropdown-menu');

                //listen for clicks on the dropdown trigger button
                trigger.addEventListener('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    dropdown.classList.toggle('is-active');
                });

                //listen for clicks anywhere in the document
                document.addEventListener('click', function (event) {
                    const isClickInside = dropdown.contains(event.target);
                    if (!isClickInside) {
                        dropdown.classList.remove('is-active');
                    }
                });
            });
        });
    </script>
</body>

</html>