<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <section class="section">
        <container class="container">
            <div class="columns is-centered">

                <div class="column is-3">
                    <img src="<%= cardData[0].image_url %>">
                </div>

                <div class="column is-9">

                    <h1 class="title is-size-4 mb-4">
                        <%= cardData[0].card_name %>
                    </h1>

                    <div class="block collection-wishlist">

                        <% if (isAuthenticated) { %>

                            <% if (myCollections.length===0) { %>

                                <div class="dropdown" id="collection-dropdown">
                                    <div class="dropdown-trigger">
                                        <button class="button is-link is-focused" aria-haspopup="true"
                                            aria-controls="dropdown-menu">
                                            <span class="icon">
                                                <i class="fas fa-plus-circle"></i>
                                            </span>
                                            <span>Add to collection</span>
                                            <span class="icon">
                                                <i class="fas fa-angle-down"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content py-0">
                                            <a class="button has-text-grey create-collection" href="/collections">
                                                Create collection
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <% } else { %>

                                    <form action="/collection?redirect=card" method="POST">
                                        <input type="hidden" name="card_id" value="<%= cardData[0].card_id %>">
                                        <div class="dropdown" id="collection-dropdown">
                                            <div class="dropdown-trigger">
                                                <button class="button is-link is-focused" aria-haspopup="true"
                                                    aria-controls="dropdown-menu">
                                                    <span class="icon">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </span>
                                                    <span>Add to collection</span>
                                                    <span class="icon">
                                                        <i class="fas fa-angle-down"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                                <div class="dropdown-content">
                                                    <% myCollections.forEach((collection, index)=> { %>
                                                        <button type="submit" class="dropdown-item has-text-grey"
                                                            name="member_collection_id"
                                                            value="<%= collection.member_collection_id %>">
                                                            <%= collection.collection_name %>
                                                        </button>
                                                        <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <% } %> <!--end of my collections are empty-->

                                        <% if (myWishlist.some(item=> item.card_id === cardData[0].card_id)) { %>

                                            <form id="removeCardForm"
                                                action="/wishlist/<%= cardData[0].card_id %>?redirect=card"
                                                method="DELETE">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="is-size-4 ml-3">
                                                    <span class="heart-icon">
                                                        <i class="fas fa-heart"></i>
                                                    </span>
                                                </button>
                                            </form>

                                            <% } else { %>

                                                <form action="/wishlist?redirect=card" method="POST">
                                                    <input type="hidden" name="card_id"
                                                        value="<%= cardData[0].card_id %>">
                                                    <button type="submit" class="is-size-4 ml-3">
                                                        <span class="heart-icon">
                                                            <i class="far fa-heart"></i>
                                                        </span>
                                                    </button>
                                                </form>

                                                <% } %>

                                                    <% } else { %>

                                                        <a class="button is-link is-focused" href="/login">
                                                            <span class="icon-text">
                                                                <span class="icon">
                                                                    <i class="fas fa-plus-circle"></i>
                                                                </span>
                                                                <span>Add to collection</span>
                                                            </span>
                                                        </a>

                                                        <a class="is-size-4 ml-3" href="/login">
                                                            <span class="heart-icon">
                                                                <i class="far fa-heart"></i>
                                                            </span>
                                                        </a>

                                                        <% } %> <!--end of if authenticated-->

                    </div>

                    <div class="columns is-centered">

                        <div class="column is-4">

                            <div class="block">
                                <p><strong>Hit Points (HP)</strong></p>
                                <p>
                                    <%= cardData[0].hp %>
                                </p>
                            </div>

                            <div class="block">
                                <p><strong>Energy Type</strong></p>
                                <p>
                                    <img src="<%= cardData[0].energy_type_url %>" class="energy-type-image">
                                </p>
                            </div>

                            <div class="block">
                                <p><strong>Stage</strong></p>
                                <p>
                                    <% if (cardData[0].evolves_from) { %>
                                        <%= cardData[0].stage %> - Evolves from <%= cardData[0].evolves_from %>
                                                <% } else { %>
                                                    <%= cardData[0].stage %>
                                                        <% } %>
                                </p>
                            </div>

                            <div class="block">
                                <p><strong>Market Price</strong></p>
                                <p>
                                    $<%= cardData[0].market_price %>
                                </p>
                            </div>
                        </div>

                        <div class="column is-4">

                            <div class="block">
                                <p><strong>Weakness</strong></p>
                                <p>
                                    <% if (cardData[0].weakness_energy_type_url) { %>
                                        <img src="<%= cardData[0].weakness_energy_type_url %>"
                                            class="energy-type-image">
                                        <% } else { %>
                                            None
                                            <% } %>
                                </p>
                            </div>

                            <div class="block">
                                <p><strong>Resistance</strong></p>
                                <p>
                                    <% if (cardData[0].resistance_energy_type_url) { %>
                                        <img src="<%= cardData[0].resistance_energy_type_url %>"
                                            class="energy-type-image">
                                        <%= cardData[0].resistance_number %>
                                            <% } else { %>
                                                None
                                                <% } %>
                                </p>
                            </div>

                            <div class="block">
                                <p><strong>Retreat Cost</strong></p>
                                <p>
                                    <% if (cardData[0].retreat_cost> 0) { %>
                                        <% for (let count=0; count < cardData[0].retreat_cost; count++) { %>
                                            <img src="<%= cardData[0].retreat_energy_type_url %>"
                                                class="energy-type-image">
                                            <% } %>
                                                <% } else { %>
                                                    None
                                                    <% } %>
                                </p>
                            </div>
                        </div>

                        <div class="column is-4">

                            <div class="block">
                                <p><strong>Expansion</strong></p>
                                <p>
                                    <%= cardData[0].expansion_name %>
                                </p>
                            </div>

                            <div class="block">
                                <p><strong>Card Number</strong></p>
                                <p>
                                    <%= cardData[0].card_number %>/<%= cardData[0].total_cards %>
                                </p>
                            </div>

                            <div class="block">
                                <p><strong>Rarity</strong></p>
                                <p>
                                    <%= cardData[0].rarity_name %>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </container>
    </section>

    <footer class="footer pb-3">
    </footer>

    <script>

        //JS FOR ALL THE DROPDOWN MENUS

        //ensures that the JS executes only after the DOM content has been fully loaded and parsed
        document.addEventListener('DOMContentLoaded', function () {

            //selects all elements with the class dropdown and store them in a NodeList called dropdowns
            const dropdowns = document.querySelectorAll('.dropdown');

            //iterate over each dropdown element in the dropdowns NodeList
            dropdowns.forEach(function (dropdown) {

                //selects the dropdown trigger button within the current dropdown element
                const trigger = dropdown.querySelector('.dropdown-trigger');

                //selects the dropdown menu within the current dropdown element
                const menu = dropdown.querySelector('.dropdown-menu');

                //listen for clicks on the dropdown trigger button
                trigger.addEventListener('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    dropdown.classList.toggle('is-active');
                });

                //listen for clicks anywhere in the document
                document.addEventListener('click', function (event) {
                    const isClickInside = dropdown.contains(event.target);
                    if (!isClickInside) {
                        dropdown.classList.remove('is-active');
                    }
                });
            });
        });

        // JS code to override the form submission method to send a DELETE request
        document.getElementById('removeCardForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const url = this.getAttribute('action');
            fetch(url, { method: 'DELETE' })
                .then(response => {
                    window.location.href = `/card?card_id=<%= cardData[0].card_id %>`;
                });
        });

    </script>

</body>

</html>