<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <section class="section">
        <div class="container">

            <h1 class="title is-size-5 mb-1">
                <%= rowdata[0].collection_name %>
            </h1>
            <h1 class="title is-size-6 has-text-grey">
                <%= rowdata[0].display_name %>
            </h1>

            <% if (isEmptyCollection) { %>

                <p class="empty-collection-message">
                    This collection is empty.
                </p>

                <% } else { %>

                    <div class="dropdown" id="collection-dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Sort by</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="/collection?member_collection_id=<%=rowdata[0].member_collection_id%>&&sort=release_date,card_number"
                                    class="dropdown-item">Card
                                    Number</a>
                                <a href="/collection?member_collection_id=<%=rowdata[0].member_collection_id%>&&sort=card_name"
                                    class="dropdown-item">Card Name (A-Z)</a>
                                <a href="/collection?member_collection_id=<%=rowdata[0].member_collection_id%>&&sort=card_name DESC"
                                    class="dropdown-item">Card Name (Z-A)</a>
                            </div>
                        </div>
                    </div>

                    <div class="columns mt-5 is-multiline is-variable is-centered">
                        <% rowdata.forEach((card, index)=> { %>
                            <div class="column is-6-tablet is-3-desktop">
                                <div class="card mb-3">
                                    <div class="card-image has-text-centered px-5 pt-2 py-0">
                                        <a href="/card?card_id=<%=card.card_id%>">
                                            <img src="<%= card.image_url %>">
                                        </a>
                                    </div>
                                    <div class="card-content pt-0 pb-2">
                                        <div class="columns is-vcentered">
                                            <div class="column is-three-quarters">
                                                <p class="has-text-grey is-size-7">
                                                    <span class="title is-size-7 has-text-grey">
                                                        <%= card.expansion_name %>
                                                    </span>
                                                    <%= card.card_number %>/<%= card.total_cards %>
                                                </p>
                                            </div>
                                            <div class="column">
                                                <p class="has-text-right">
                                                    <a class="has-text-grey" href="">
                                                        <span class="icon-text">
                                                            <span class="icon">
                                                                <i class="far fa-heart"></i>
                                                            </span>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <% if (isAuthenticated) { %>

                                    <div class="dropdown-wrapper">

                                        <% if (myCollections.length===0) { %>

                                            <div class="dropdown" id="collection-dropdown">
                                                <div class="dropdown-trigger">
                                                    <button class="button has-text-grey" aria-haspopup="true"
                                                        aria-controls="dropdown-menu">
                                                        <span class="icon">
                                                            <i class="fas fa-plus-circle"></i>
                                                        </span>
                                                        <span>Add to collection</span>
                                                        <span class="icon">
                                                            <i class="fas fa-angle-down"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                                    <div class="dropdown-content py-0">
                                                        <a class="button has-text-grey create-collection"
                                                            href="/collections">
                                                            Create collection
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <% } else { %>

                                                <form action="/collection?redirect=collection" method="POST">
                                                    <input type="hidden" name="card_id" value="<%= card.card_id %>">
                                                    <div class="dropdown" id="collection-dropdown">
                                                        <div class="dropdown-trigger">
                                                            <button class="button has-text-grey" aria-haspopup="true"
                                                                aria-controls="dropdown-menu">
                                                                <span class="icon">
                                                                    <i class="fas fa-plus-circle"></i>
                                                                </span>
                                                                <span>Add to collection</span>
                                                                <span class="icon">
                                                                    <i class="fas fa-angle-down"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                                            <div class="dropdown-content">
                                                                <% myCollections.forEach((collection, index)=> { %>
                                                                    <button type="submit" class="dropdown-item"
                                                                        name="member_collection_id"
                                                                        value="<%= collection.member_collection_id %>">
                                                                        <%= collection.collection_name %>
                                                                    </button>
                                                                    <% }) %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                                <% } %> <!--end of my collections are empty-->

                                    </div>

                                    <% } else { %>

                                        <div class="has-text-centered">
                                            <a class="button has-text-grey x" href="/login">
                                                <span class="icon-text">
                                                    <span class="icon">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </span>
                                                    <span>Add to collection</span>
                                                </span>
                                            </a>
                                        </div>

                                        <% } %> <!--end of if authenticated-->

                            </div> <!--end of column-->
                            <% }) %> <!--end of card for loop-->
                    </div> <!--end of columns-->
                    <% } %> <!--end of collection is empty-->
        </div> <!--end of container-->
    </section> <!--end of section-->

    <script>

        //ensures that the JS executes only after the DOM content has been fully loaded and parsed
        document.addEventListener('DOMContentLoaded', function () {

            //selects all elements with the class dropdown and store them in a NodeList called dropdowns
            const dropdowns = document.querySelectorAll('.dropdown');

            //iterate over each dropdown element in the dropdowns NodeList
            dropdowns.forEach(function (dropdown) {

                //selects the dropdown trigger button within the current dropdown element
                const trigger = dropdown.querySelector('.dropdown-trigger');

                //selects the dropdown menu within the current dropdown element
                const menu = dropdown.querySelector('.dropdown-menu');

                //listen for clicks on the dropdown trigger button
                trigger.addEventListener('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    dropdown.classList.toggle('is-active');
                });

                //listen for clicks anywhere in the document
                document.addEventListener('click', function (event) {
                    const isClickInside = dropdown.contains(event.target);
                    if (!isClickInside) {
                        dropdown.classList.remove('is-active');
                    }
                });
            });
        });
    </script>

</body>

</html>