<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <section class="section pt-5">
        <div class="container">

            <nav class="breadcrumb mb-0" aria-label="breadcrumbs">
                <ul>
                    <li class="breadcrumb separator"><a href="/">Home</a></li>
                    <li class="is-active"><a aria-current="page">Collections</a></li>
                </ul>
            </nav>

            <% if (isAuthenticated) { %>

                <% if (emptyNameNotification) { %>
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        Please give the new Collection a name.
                    </div>
                    <% } %>

                        <% if (collectionExistsNotification) { %>
                            <div class="notification is-danger">
                                <button class="delete"></button>
                                One of your Collections already has this name - please choose a different name.
                            </div>
                            <% } %>

                                <% if (collectionAddedNotification) { %>
                                    <div class="notification is-success">
                                        <button class="delete"></button>
                                        New Collection successfully added!
                                    </div>
                                    <% } %>

                                        <div class="block">
                                            <form action="/collections" method="POST">
                                                <div class="field is-grouped">

                                                    <div class="control is-expanded">
                                                        <input class="input" type="text" name="newCollectionField"
                                                            placeholder="Enter name...">
                                                    </div>

                                                    <div class="control">
                                                        <button class="button is-link is-focused">
                                                            <span class="icon-text">
                                                                <span class="icon">
                                                                    <i class="fas fa-plus-circle"></i>
                                                                </span>
                                                                <span>Create collection</span>
                                                            </span>
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                        <h1 class="title is-size-5">
                                            My collections
                                        </h1>

                                        <div class="block">

                                            <% if (myCollections.length===0) { %>

                                                <p>You currently have no collections.</p>

                                                <% } else { %>

                                                    <div class="columns is-multiline is-variable">
                                                        <% myCollections.forEach((collection, index)=> { %>
                                                            <div class="column is-3">
                                                                <div class="card">

                                                                    <a
                                                                        href="/collection?member_collection_id=<%=collection.member_collection_id%>">
                                                                        <p class="pt-3 pl-3">
                                                                            <%= collection.collection_name %>
                                                                        </p>
                                                                    </a>

                                                                    <div class="card-content pt-3 pb-4 px-3">

                                                                        <div class="block mb-4">

                                                                            <% if (emptyNewNameNotification) { %>
                                                                                <p class="redFontNotification">
                                                                                    New name can't be empty.
                                                                                </p>
                                                                                <% } %>

                                                                                    <form
                                                                                        action="/collections/newCollectionName"
                                                                                        method="POST">
                                                                                        <input type="hidden"
                                                                                            name="collection_id"
                                                                                            value="<%= collection.collection_id %>">
                                                                                        <div class="field has-addons">
                                                                                            <div class="control">
                                                                                                <input class="input"
                                                                                                    type="text"
                                                                                                    name="renameCollectionField"
                                                                                                    placeholder="New name...">
                                                                                            </div>
                                                                                            <div class="control">
                                                                                                <button
                                                                                                    class="button is-link">
                                                                                                    Rename
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>

                                                                        </div>

                                                                        <form id="deleteCollectionForm"
                                                                            action="/collections/<%=collection.member_collection_id%>/delete?collectionId=<%=collection.collection_id%>"
                                                                            method="POST">
                                                                            <input type="hidden" name="_method"
                                                                                value="DELETE">
                                                                            <button type="submit"
                                                                                class="button is-link is-dark">
                                                                                <span class="icon">
                                                                                    <i class="fas fa-trash"></i>
                                                                                </span>
                                                                                <span>Delete</span>
                                                                            </button>
                                                                        </form>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                    </div>

                                                    <% } %>
                                        </div>

                                        <h1 class="title is-size-5">
                                            Members' collections
                                        </h1>

                                        <div class="block">
                                            <table class="table is-bordered">
                                                <thead class="custom-thead">
                                                    <tr>
                                                        <th>Collection</th>
                                                        <th>Member</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% otherCollections.forEach((collection, index)=> { %>
                                                        <tr>
                                                            <td>
                                                                <a
                                                                    href="/collection?member_collection_id=<%=collection.member_collection_id%>">
                                                                    <%= collection.collection_name %>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <%= collection.display_name %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>

                                        <% } else { %>

                                            <h1 class="title is-size-5">
                                                Members' collections
                                            </h1>

                                            <div class="block">
                                                <table class="table is-bordered">
                                                    <thead class="custom-thead">
                                                        <tr>
                                                            <th>Collection</th>
                                                            <th>Member</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% allCollections.forEach((collection, index)=> { %>
                                                            <tr>
                                                                <td>
                                                                    <a
                                                                        href="/collection?member_collection_id=<%=collection.member_collection_id%>">
                                                                        <%= collection.collection_name %>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <%= collection.display_name %>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <% } %>

        </div>
    </section>

    <% if (isAuthenticated) { %>
        <footer class="footer pb-3">
        </footer>
        <% } %>

            <script>

                // JS to close notification
                const deleteButton = document.querySelector('.delete');

                deleteButton.addEventListener('click', () => {
                    deleteButton.parentNode.style.display = 'none';
                });

                // JS code to override the form submission method to send a DELETE request
                document.addEventListener('DOMContentLoaded', function () {
                    document.querySelector('.columns').addEventListener('submit', function (event) {
                        if (event.target.classList.contains('deleteCollectionForm')) {
                            event.preventDefault();
                            const url = event.target.getAttribute('action');
                            fetch(url, { method: 'DELETE' })
                                .then(response => {
                                    window.location.href = '/collections';
                                });
                        }
                    });
                });

            </script>

</body>

</html>